<a href="https://colab.research.google.com/github/JESTIN-S/my_sql/blob/main/pandas_work_out_qustions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
# Load from a CSV file
df = pd.read_csv("test_one.csv")
#set new colum in dataframe
l1=["A+","AB-",'O+',"AB+",'0-','B-']
d= pd.DataFrame({"BLOOD_GROUP": l1})
df

,EID,ENAME,GRADE,AGE,GENDER,STATE,SALARY,MANAGERID,CONTACT_NO,bio
0,101,GOUTAM INHA,A,40,M,BH,50000,NaN,980400001.0,20230719.0
1,102,SRIJAN BASU,B,30,M,WB,40000,101.0,983600001.0,NaN
2,103,NANDINI APTE,A,45,F,MH,57000,101.0,NaN,NaN
3,104,SATYEN MURMU,B,33,M,JH,32000,103.0,991200002.0,NaN
4,105,PRIYA KUMARI,C,31,F,JH,25000,104.0,898100003.0,NaN
5,106,VIGNESH D,D,25,M,TN,15000,105.0,943300002.0,NaN
6,107,GRISHMA DASARI,C,27,F,AP,17000,106.0,987400005.0,NaN

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# #1.Write a query to show all the details of employee table.
# print(df)
# # 2. Write a query to show name and grade of all the employee.
# df[['ENAME','GRADE']]
# df.iloc[:,[1,2]]
# # 3.write a query to show name, age, gender of all employee.
# df[['ENAME','AGE','GENDER']]
# # 4. Write a query to show name, State ,age and State again for all employee
# df[['ENAME','STATE','AGE','STATE']]
# # 5. Write a query to show name, State ,age and State again for all employee.1" State field would have an heading as [Location1] and 2nd State filed would have an heading as [Location2].
# # 7. Write a query to show all the employee id and name with a heading [Employee ID] and [Employee Name].
# df[["EID","ENAME"]]
# # 8. Write a query to show name of employees who belongs to West Bengal ( in short "WB*)
# df=df[df['STATE']=='WB']
# # 9. Write a query to show the name of the employee whose age is below 30 (less than or equal to thirty)
# df=df[df['AGE']<=30]
# #10. Write a query to show name and State of all the female employee.
# df=df[df["GENDER"]=="F"][['ENAME',"STATE"]]
# #11. Write a query to show name and id for all the female employee with age >=30
# df=df[(df["GENDER"]=="F")&(df["AGE"]<=30)]
# #12. Write a query to show name of the employee whose age is in between of 30 and 40.
# df=df[df["AGE"].between (30,40)]
# #13. Write a query to show name of the employee whose age is in between of 30 and 40 and from Jharkhand (or "H" in short).
# df=df[(df["AGE"].between (30,40))&(df["STATE"]=="JH")]
# #14. Write a query to show name of employees who belongs to WB, JH, MH
# df=df[df["STATE"].isin(["WB","JH","MH"])]
# #15. Write a query to show name of employees who does not belong to WB, JH, MH
# df=df[~df["STATE"].isin(['WB',"JH","MH"])]
# #16. Write a query to show all the state names.
# df=df["STATE"]
# #17. Write a query to show all the state names without repetition
# df=df["STATE"].unique()
# #18. Write a query to' show all the names as per their age. Most youngest employee would come first and the most aged aged person would come last.
# df=df.sort.values(by="age")
# #19. Write a query to show all the names as per their age in reverse order. Most aged employee would come first.
# d=df.sort_values(by="AGE",ascending=False)
# df=d["ENAME"]
# #20. Write a query to show all the employee names as per their grades. All the 'A' graded employee should come first.
# df=df.sort_values(by="GRADE")
# #21. Write a query to show all the employee names as per their grades. All the 'A' graded employee should come first. In case of tie, youngest employee should come first.
# df=df.sort_values(by=["GRADE","AGE"],ascending=True)
# #22. Write a query to show all the employee names as per their grades. All the 'A' graded employee should come first. In case of tie, eldest employee should come first.
# df=df.sort_values(by=["GRADE","AGE"],ascending=[True,False])
# #23. Write a query to print 3 youngest member's name.
# df=df.sort_values(by="AGE",ascending=True).head(3)
# #24. Write a query to print most eldest member's name.
# d=df.sort_values(by="AGE")
# d['ENAME']
# #25. Write a query to print the name of the person who is in the highest post. ( In this scenario Grade 'A' Is the highest post anyone can have)
# df=df.sort_values(by='GRADE').head(1)
# #26. Write a query to print the highest salary. (only the salary, there is no need to print the name)
# df=df.sort_values(by='SALARY',ascending=False).head(1)
# df['SALARY']
# #27. Write a query to print the lowest salary.
# df=df.sort_values(by='SALARY').head(1)
# #28. Write a query to print the highest salary among male employees
# df=df.sort_values(by='SALARY',ascending=False)
# df=df[df['GENDER']=="M"].head(1)
# #29. Write a query to print the lowest salary among female employees
# df=df.sort_values(by="SALARY",ascending=True)
# df[df['GENDER']=='F'].head(1)
# #30. Write a query to print the average salary of male employees.
# df=df[df["GENDER"]=="M"]
# df['SALARY'].mean()
# #31. Write a query to print the count of female employees whose age is below 30.
# df= df[(df["GENDER"] == "F") & (df["AGE"] <= 30)]
# df["ENAME"].value_counts()
# #32. Write a query to print the sum of salary of the people from west Bengal
# df=df[df["STATE"]=="WB"].sum()
# #33. Write a query to print the count of employees and their average salary from west Bengal
# df=df[df["STATE"]=="WB"].mean()
# #34. Write a query to print the maximum and minimum salary among all employees
# df=df.max()
# df=df.min()
# #35. Write a query to print the average, maximum, minimum salary for the people from state WB and MH and whose age is greater than 25.
# df=df[(df["STATE"].isin(["WB","MH"]))&(df["AGE"]>=25)]
# df.min()
# df.max()
# df.mean()
# #36. Write a query to print the name of the employee starting from "a". (Full name needs to be considered)
# df = df[df["ENAME"].str.startswith("G")]
# for name in df['ENAME']:
#   print(name)
# #37. Write a query to print the name of the employee ending with "a*. (Full name needs to beconsidered
# df=df[df["ENAME"].str.endswith("A")]
# for name in df["ENAME"]:
#   print(name)
# #38. Write a query to print the names which ends with a vowel.
# df=df[df["ENAME"].str.endswith(("A","E","I","O","U"))]
# for name in df["ENAME"]:
#   print(name)
# #39. Write a query to print the names which contains "a" somewhere in the name.
# df=df[df["ENAME"].str.contains("A",case=False)]
# for name in df["ENAME"]:
#   print(name)
# 40. Write a query to print the names which does not contain "a" in the name.
# df=df[~df["ENAME"].str.contains("A",case=False)]
# for name in df["ENAME"]:
#   print(name)
#41. Write a query to print the names which contain "sh" In its name.
d=df["ENAME"].str.contains("SH",case=False)
print(d)
for d in df["ENAME"]:
  print(d)

   EID           ENAME GRADE  AGE GENDER STATE  SALARY  MANAGERID  \
0  101     GOUTAM INHA     A   40      M    BH   50000        NaN
6  107  GRISHMA DASARI     C   27      F    AP   17000      106.0

    CONTACT_NO         bio
0  980400001.0  20230719.0
6  987400005.0         NaN